<!DOCTYPE html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>TaskManager</title>
</head>
<body>
<h1 th:text="'Welcome, ' + ${user.firstName} + '!'"></h1>
<h4><a href="/index">My Projects</a></h4>
<h4><a href="/index">Shared with me</a></h4>
<h4><a href="/index">Create new Project</a></h4>
<h4><a href="/index">Profile</a></h4>
<h4><a href="/logout">Logout</a></h4>

</body>	  	  
</html>